.container {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-left: 22px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* ----- input ------- */
.input_container {
  align-items: flex-end;
  display: flex;
}

.input {
  margin-right: 16px;
  display:flex;
  flex-flow: column; /** 縦並びに */
}

/* ------ checkbox -------- */
.checkbox_container {
  margin-left: 30px;
  margin-top: 25px; /** inputとの調整 */
}

.checkbox {
  margin-right: 25px;
}

/* ------ button -------- */
.button_container {
  margin-left: 30px;
  margin-top: 25px;
}