/* modal */
.background {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.container {
  background-color: #fff;
  position: relative;
  width: 60%;
  height: 60%;
}

/*  ------- header ------- */
.header_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.title {
  justify-content: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.cancel_container {
  cursor: pointer;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}
.cancel {
  margin-top: 10px;
  margin-right: 30px;
  height: 25px;
  width: 25px;
}

/*  ------- contents ------- */
.contents_container {
  background-color: #fff;
  text-align: left;
  min-height: 110px;
  padding-bottom: 20px;
  padding-left: 57px;
}

.body {
  margin-top: 40px;
}