/* table 外枠の色 */
.table {
    border: solid 1px  #cacaca; /* table 外枠の色 重複時はtdなどが優先される*/
    border-collapse: collapse; /*枠線の重複を有効にする(しないと二重になる)*/
    width: 100%;
}

/* th の側 */
.th {
    border-top: solid 1px  #cacaca; /*th 要素の枠線のみ色を変えることができる*/
    background-color: #eee;
    height: 50px;
    padding-bottom: 0;
    padding-left: 30px; /* 内部の幅*/
    padding-top: 0; 
    text-align: left;
}

/* 中央に揃える */
.td {
    border-top: solid 1px  #cacaca;  /* こいつを指定することで枠線が有効になる*/
    height: 50px;
    padding-bottom: 0;
    padding-left: 30px;
    padding-top: 0;    
}