.sidebar_item {
    align-items: center;

    cursor: pointer;
    display: flex;
    height: 56px;
    padding-left: 24px;
    transition: background-color 0.3s ease-out;
    width: 176px;
}

.sidebar_item :hover {
    background-color: #a0a0a0;
}

.sidebar_item :active {
    background-color: #a0a0a0;
}

.selected_color {
    background-color: #a0a0a0;
}

.selected_color {
    background-color: #a0a0a0;
}

.sidebar_text {
    color: black;
    font-size: 20px;
}