.container {
  background-color: #fff;
  border-right: 1px solid #CCCCCC;
  position: fixed;
  height: 100%;
  width: var(--sidebar-padding-left);
  top: 70px; /** global-headerとの調整 */
  z-index: 100;
}

.link_container {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 56px;
  padding-left: 24px;
  transition: background-color 0.3s ease-out;
  width: 176px;
}

.link_container :hover {
  background-color: #a0a0a0;
}

.link_container :active {
  background-color: #a0a0a0;
}

.selected_color {
  background-color: #a0a0a0;
}

.selected_color {
  background-color: #a0a0a0;
}

/* ---- label ---- */
.label {
  color: black;
  font-size: 20px;
}