.container {
  height: calc(100% - var(--global-header-height));
  padding-left: var(--sidebar-padding-left);
  padding-top: var(--global-header-height);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contents_container {
  width: 90%;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 45px;
}