.container {
    align-items: center;
    display: flex;
}

.radio {
    width: 15px;
    height: 15px;
    margin: 0;

    border-color: #acacac;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
}